// ----------------------------------------------------------------------------
// Contents:
// Basic @imports
// General Styling
// Content General Strucure
// Content General Styling
// ----------------------------------------------------------------------------

@import "../base/config"
@import "../base/utilities"
@import "../base/typography"

// ----------------------------------------------------------------------------
// General Styling
// ----------------------------------------------------------------------------

body
  +ff_text
  background: white
  font-size: 76%
  text-align: center

// ----------------------------------------------------------------------------
// Content General Struture
// ----------------------------------------------------------------------------

.wrapper
  +box_reset
  margin: auto
  text-align: left
  max-width: $big-width
  @media only screen and (max-width : #{$big-width})
    width: 100%
    display: block
    padding-left: 15px
    padding-right: 15px

// ----------------------------------------------------------------------------
// Content General Styling
// ----------------------------------------------------------------------------

.content
  h1,h2,h3,h4,h5,h6,.title
    +ff_title
  p, ul, a, blockquote, strong
    +ff_text
    font-size: 1.3em
    line-height: 1.4em
