// ----------------------------------------------------------------------------
// Contents:
// Basic @imports
// Forms General Styling
// Forms Grid Structure
// ----------------------------------------------------------------------------

@import "../base/colors"
@import "../base/typography"
@import "../base/utilities"

// ----------------------------------------------------------------------------
// Forms General Styling
// ----------------------------------------------------------------------------

.form
  // Basic item unit
  &-item
    display: block
    padding: 15px 0
    margin: 15px auto
    border-top: 1px dashed #f5f5f5
    &.required
      &:after
        content: 'Required Field'
        float: right
        font-size: .8em
        font-weight: 100
        text-transform: uppercase
        color: #ccc
    &.standard
      label
        font-size: .8em
        display: block
        margin-bottom: 5px
        text-transform: uppercase
        color: #666
        position: relative
        line-height: 1.4em
    &.choice
      label
        font-size: 1em
        display: block
        position: relative
        padding: 10px 5px 10px 35px
        transition: all .3s ease-in-out
        cursor: pointer
        &:hover
          background-color: rgba(0,0,0,0.1)
          border-radius: 3px
      &.horizontal
        label
          display: inline-block
          margin-right: 20px
  // Messages
  .message
    display: block
    margin-top: 5px
    text-align: right
    &.error
      color: $color-error
    &.warning
      color: $color-warning
    &.success
      color: $color-confirm
  // Basic Input
  &-input
    +box_reset
    +input_reset
    +ff_form
    &:hover
      &::placeholder
        transform: translate3d(0, -10px, 0)
        opacity: 0
    &::placeholder
      transition: all .3s ease-in-out
      position: relative
      color: #999
      font-weight: 100
    &::disabled
      opacity: .3
    &.standard
      display: block
      border: 1px solid #ccc
      padding: 10px
      font-size: 1.4em
      width: 100%
      color: #444
      background-color: white
      transition: all .3s ease-in-out
      border-radius: 5px
      &:hover
        box-shadow: 0 5px 5px rgba(200,200,200,0.1)
        border-color: #ccc
    &.select
      background-image: url('../img/icon_ui_arrow_down.svg')
      background-position: calc(100% - 10px) center
      background-repeat: no-repeat
      background-size: 10px
      background-color: white
      border: 1px solid #ccc
      padding: 10px 15px
      font-size: 1.4em
      width: 100%
    &.radio, &.check
      position: absolute
      z-index: 0
      left: 5px
      top: 5px
      &:before
        transition: all .3s ease-in-out
        position: absolute
        z-index: 2
        content: ''
        display: block
        width: 20px
        height: 20px
        border: 2px solid #999
        background: white
        top: -1px
        left: -2px
    &.radio
      &:before
        border-radius: 100%
      &:checked:before
        background: $color-action
        border: 2px solid $color-confirm
    &.check
      &:before
        border-radius: 5px
      &:checked:before
        background: $color-action
        border: 2px solid $color-confirm

// ----------------------------------------------------------------------------
// Form Grid Structure
// ----------------------------------------------------------------------------

$gap: 20px

.form.grid
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  .form-item
    flex-basis: calc(100% - (#{$gap}))
    padding: calc( #{$gap} / 2 )
  .form-item.double
    flex-basis: calc(50% - (#{$gap}))
    @media only screen and (max-width : #{$micro-width})
      flex-basis: calc(100% - (#{$gap}))
      padding: calc( #{$gap} / 2 )
  .form-item.triple
    flex-basis: calc( (100% / 3) - #{$gap})
    padding-left: calc( #{$gap} / 3 )
    padding-right: calc( #{$gap} / 3 )
    @media only screen and (max-width : #{$small-width})
      flex-basis: calc(50% - (#{$gap}))
      padding: calc( #{$gap} / 2 )
    @media only screen and (max-width : #{$micro-width})
      flex-basis: calc(100% - (#{$gap}))
      padding: calc( #{$gap} / 2 )
