// ----------------------------------------------------------------------------
// Contents:
// Tooltip General Styling
// ----------------------------------------------------------------------------

.tooltip
  position: relative
  transition: all .3s ease-in-out
  cursor: help
  &:before
    font-size: 12px
    content: '?'
    position: absolute
    color: white
    background: black
    right: 0
    bottom: 0
    display: block
    width: 5px
    height: 10px
    text-align: center
    padding: 2px 6px 5px 6px
    border-radius: 100%
    transition: all .3s ease-in-out
  &:after
    content: ''
    position: absolute
    bottom: 0
    right: 0
    background: black
    color: white
    border-radius: 5px 5px 0 5px
    transition: all .3s ease-in-out
    opacity: 0
  &:hover
    &:before
      border-radius: 0 0 100% 100%
    &:after
      content: attr(data-tooltip)
      opacity: 1
      bottom: 100%
      padding: 10px
      max-width: 50%
      min-width: 180px