@import url("https://fonts.googleapis.com/css?family=Palanquin:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Palanquin:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Palanquin:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template, [hidden] {
  display: none; }

html, body, div, a, img {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

html, body, div, a, img {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: white;
  font-size: 76%;
  text-align: center; }

.wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  margin: auto;
  text-align: left;
  max-width: 1240px; }
  @media only screen and (max-width: 1240px) {
    .wrapper {
      width: 100%;
      display: block;
      padding-left: 15px;
      padding-right: 15px; } }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content .title {
  font-family: "Palanquin", Helvetica, Arial, sans-serif; }
.content p, .content ul, .content a, .content blockquote, .content strong {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.4em; }

.tooltip {
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: help; }
  .tooltip:before {
    font-size: 12px;
    content: "?";
    position: absolute;
    color: white;
    background: black;
    right: 0;
    bottom: 0;
    display: block;
    width: 5px;
    height: 10px;
    text-align: center;
    padding: 2px 6px 5px 6px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out; }
  .tooltip:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    border-radius: 5px 5px 0 5px;
    transition: all 0.3s ease-in-out;
    opacity: 0; }
  .tooltip:hover:before {
    border-radius: 0 0 100% 100%; }
  .tooltip:hover:after {
    content: attr(data-tooltip);
    opacity: 1;
    bottom: 100%;
    padding: 10px;
    max-width: 50%;
    min-width: 180px; }

html, body, div, a, img {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

.form-item {
  display: block;
  padding: 15px 0;
  margin: 15px auto;
  border-top: 1px dashed #f5f5f5; }
  .form-item.required:after {
    content: "Required Field";
    float: right;
    font-size: 0.8em;
    font-weight: 100;
    text-transform: uppercase;
    color: #ccc; }
  .form-item.standard label {
    font-size: 0.8em;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #666;
    position: relative;
    line-height: 1.4em; }
  .form-item.choice label {
    font-size: 1em;
    display: block;
    position: relative;
    padding: 10px 5px 10px 35px;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .form-item.choice label:hover {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 3px; }
  .form-item.choice.horizontal label {
    display: inline-block;
    margin-right: 20px; }
.form .message {
  display: block;
  margin-top: 5px;
  text-align: right; }
  .form .message.error {
    color: red; }
  .form .message.warning {
    color: orange; }
  .form .message.success {
    color: green; }
.form-input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Lato", Helvetica, Arial, sans-serif; }
  .form-input:focus {
    outline: none; }
  .form-input:hover::placeholder {
    transform: translate3d(0, -10px, 0);
    opacity: 0; }
  .form-input::placeholder {
    transition: all 0.3s ease-in-out;
    position: relative;
    color: #999;
    font-weight: 100; }
  .form-input::disabled {
    opacity: 0.3; }
  .form-input.standard {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.4em;
    width: 100%;
    color: #444;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 5px; }
    .form-input.standard:hover {
      box-shadow: 0 5px 5px rgba(200, 200, 200, 0.1);
      border-color: #ccc; }
  .form-input.select {
    background-image: url("../img/icon_ui_arrow_down.svg");
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 1.4em;
    width: 100%; }
  .form-input.radio, .form-input.check {
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 5px; }
    .form-input.radio:before, .form-input.check:before {
      transition: all 0.3s ease-in-out;
      position: absolute;
      z-index: 2;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid #999;
      background: white;
      top: -1px;
      left: -2px; }
  .form-input.radio:before {
    border-radius: 100%; }
  .form-input.radio:checked:before {
    background: blue;
    border: 2px solid green; }
  .form-input.check:before {
    border-radius: 5px; }
  .form-input.check:checked:before {
    background: blue;
    border: 2px solid green; }

.form.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .form.grid .form-item {
    flex-basis: calc(100% - (20px));
    padding: calc( 20px / 2 ); }
  .form.grid .form-item.double {
    flex-basis: calc(50% - (20px)); }
    @media only screen and (max-width: 480px) {
      .form.grid .form-item.double {
        flex-basis: calc(100% - (20px));
        padding: calc( 20px / 2 ); } }
  .form.grid .form-item.triple {
    flex-basis: calc( (100% / 3) - 20px);
    padding-left: calc( 20px / 3 );
    padding-right: calc( 20px / 3 ); }
    @media only screen and (max-width: 720px) {
      .form.grid .form-item.triple {
        flex-basis: calc(50% - (20px));
        padding: calc( 20px / 2 ); } }
    @media only screen and (max-width: 480px) {
      .form.grid .form-item.triple {
        flex-basis: calc(100% - (20px));
        padding: calc( 20px / 2 ); } }

/*# sourceMappingURL=main.css.map */
